version: 2
jobs:
  build:
    working_directory: ~/project/Lab7
    docker:
      - image: cimg/android:2025.11
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout


      - run:
    name: Debug directory structure
    command: |
      echo "Current directory:"
      pwd
      echo
      echo "Files here:"
      ls -al
      echo
      echo "Files in ~/project:"
      ls -al ~/project
      echo
      echo "Files in ~/project/Lab7:"
      ls -al ~/project/Lab7 || echo "Lab7 folder NOT FOUND"









      - run: ./gradlew androidDependencies

      - run: ./gradlew lint test

      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}

      - run:
         name: Chmod permissions  
         command: sudo chmod +x ./gradlew

      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}

      - run:
          name: Run UnitTest
          command: ./gradlew test

      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: apks/

      - store_test_results:
          path: app/build/test-results